#undef ZMK_LEADER_SEQUENCE
#define ZMK_LEADER_SEQUENCE(name, leader_bindings, leader_sequence) \
    / { \
        behaviors { \
            leader: leader { \
                compatible = "zmk,behavior-leader-key"; \
                #binding-cells = <0>; \
                leader_sequence_ ## name { \
                    bindings = <leader_bindings>; \
                    sequence = <leader_sequence>; \
                }; \
            }; \
        }; \
    };



// aerospace leader key sequences
// ZMK_LEADER_SEQUENCE(aero_jr,      &aero_jr_macro,       J R )
// ZMK_LEADER_SEQUENCE(aero_jd,      &aero_jd_macro,       J D )
ZMK_LEADER_SEQUENCE(aero_tile,    &kp LA(FSLH),     T )
ZMK_LEADER_SEQUENCE(aero_accd,    &kp LA(COMMA),    A )
// ZMK_LEADER_SEQUENCE(aero_flt,     &aero_flt_macro,        F )


